<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.cvds.sampleprj.dao.mybatis.mappers.ItemMapper">
    <select parameterType="map" id="consultarItem" resultMap="ItemResult">
	SELECT VI_ITEMS.id as iditem, nombre as itemnombre,VI_ITEMS.descripcion as descripcionitem,
        fechalanzamiento,tarifaxdia,formatorenta,
        genero,TIPOITEM_id as tipoid,VI_TIPOITEM.descripcion as tipodescripcion
        FROM VI_ITEMS, VI_TIPOITEM WHERE VI_ITEMS.id=#{id} AND VI_TIPOITEM.id=VI_ITEMS.TIPOITEM_id
    </select>
	
    <select parameterType="map" id="consultarItems" resultMap="ItemResult">
	SELECT VI_ITEMS.id as iditem, nombre as itemnombre,VI_ITEMS.descripcion as descripcionitem,
        fechalanzamiento,tarifaxdia,formatorenta,
        genero,TIPOITEM_id as tipoid,VI_TIPOITEM.descripcion as tipodescripcion
        FROM VI_ITEMS, VI_TIPOITEM WHERE VI_TIPOITEM.id=VI_ITEMS.TIPOITEM_id
    </select>
	
    <insert parameterType="map" id="insertarItem">
	INSERT INTO VI_ITEMS (id,nombre,descripcion,fechalanzamiento,tarifaxdia,formatorenta,genero,TIPOITEM_id)
		VALUES (#{item.id},#{item.nombre},#{item.descripcion},#{item.fechaLanzamiento},#{item.tarifaxDia},#{item.formatoRenta},#{item.genero},#{item.tipo.id})
    </insert>
    
    <update id="updateTarifa">
        update VI_ITEMS set
          tarifaxdia = #{nuevatarifa}          
        where id = #{id}
    </update>
    <delete parameterType="Item" id="deleteItem">
	DELETE FROM VI_ITEMS 
                WHERE id=#{id}
    </delete>
    <resultMap type='ItemRentado' id='ItemRentadoResult'>
		<id property='id' column='idrentado' />
		<result property='fechainiciorenta' column='fechainiciorenta' />
		<result property='fechafinrenta' column='fechafinrenta' />
		<association property="item" column='iditem' javaType="Item" resultMap="ItemResult"></association>
    </resultMap>
    <resultMap type='Item' id='ItemResult'>
        <id property='id' column='iditem' />
        <result property='nombre' column='itemnombre' />
        <result property='descripcion' column='descripcionitem' />
        <result property='fechaLanzamiento' column='fechalanzamiento' />
        <result property='tarifaxDia' column='tarifaxdia' />
        <result property='formatoRenta' column='formatorenta' />
        <result property='genero' column='genero' />
        <association property="tipo"  javaType='TipoItem' resultMap="edu.eci.cvds.sampleprj.dao.mybatis.mappers.TipoItemMapper.TipoItemResult"/>
    </resultMap>
    
    
    
    
</mapper>